<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleEdit()">
        <ion-icon [name]="isEditing ? 'close-outline' : 'create-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div style="text-align:center; margin: 20px 0;">
    <ion-avatar style="width: 120px; height: 120px; margin: auto;">
      <img [src]="user.image || 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="Foto de perfil">
    </ion-avatar>

    <div *ngIf="isEditing">
      <input type="file" accept="image/*" (change)="onImageSelected($event)">
    </div>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-item *ngIf="isEditing; else showName">
        <ion-input [(ngModel)]="user.name" placeholder="Nombre Completo"></ion-input>
      </ion-item>
      <ng-template #showName>
        <h2> {{user.name || 'Sin nombre'}} </h2>
      </ng-template>

      <ion-item *ngIf="isEditing; else showEmail">
        <ion-input [(ngModel)]="user.email" placeholder="Correo Electronico"></ion-input>
      </ion-item>
      <ng-template #showEmail>
        <p>{{user.email || 'Sin correo'}}</p>
      </ng-template>

      <ion-item *ngIf="isEditing; else showBio">
        <ion-textarea [(ngModel)]="user.bio" placeholder="Escribe una breve biografia..."></ion-textarea>
      </ion-item>
      <ng-template #showBio>
        <p>{{user.bio || 'Sin biografia'}}</p>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <div *ngIf="isEditing">
    <ion-button expand="block" color="success" (click)="saveProfile()"> Guardar </ion-button>
    <ion-button expand="block" color="danger" (click)="deleteProfile()"> Eliminar</ion-button>
  </div>

</ion-content>