<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleEdit()">
        <ion-icon [name]="isEditing ? 'close-outline' : 'create-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item *ngIf="isEditing; else showName">
        <ion-input [(ngModel)]="user.name" placeholder="Nombre"></ion-input>
      </ion-item>
      <ng-template #showName>
        <h2>{{ user.name || 'Sin nombre' }}</h2>
      </ng-template>

      <ion-item *ngIf="isEditing; else showEmail">
        <ion-input [(ngModel)]="user.email" placeholder="Correo"></ion-input>
      </ion-item>
      <ng-template #showEmail>
        <p>{{ user.email || 'Sin correo' }}</p>
      </ng-template>

      <ion-item *ngIf="isEditing; else showBio">
        <ion-textarea [(ngModel)]="user.bio" placeholder="Biografía"></ion-textarea>
      </ion-item>
      <ng-template #showBio>
        <p>{{ user.bio || 'Sin biografía' }}</p>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <div *ngIf="isEditing">
    <ion-button expand="block" (click)="saveProfile()">Guardar</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteProfile()">Eliminar</ion-button>
  </div>
</ion-content>
