// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #f5af71;
    --ion-color-secondary: #6c757d;
    --ion-color-tertiary: #00c9a7;
}