<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title @fadeInUp>Iniciar Sesion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item @fadeInUp>
        <ion-input [(ngModel)]="email" type="email" placeholder="Correo electronico"></ion-input>
      </ion-item>

      <ion-item @fadeInUp>
        <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="login()" fadeInUp>Ingresar</ion-button>
      <ion-button fill="clear" (click)="goToReset()" fadeInUp>¿Olvidaste tu Contraseña?</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
