<ion-header>
  <ion-toolbar color="primary">
    <ion-title content-desc="register-title">
      Crear cuenta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">
      Correo Electrónico
    </ion-label>
    <ion-input
      content-desc="register-email"
      [(ngModel)]="email"
      type="email"
      required>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Contraseña
    </ion-label>
    <ion-input
      content-desc="register-password"
      [(ngModel)]="password"
      type="password"
      required>
    </ion-input>
  </ion-item>

  <ion-button
    content-desc="register-submit"
    expand="block"
    color="success"
    (click)="register()">
    Regístrame
  </ion-button>

  <ion-text
    content-desc="register-login-link"
    color="medium"
    class="ion-text-center">
    <p (click)="goToLogin()">
      ¿Ya tienes una cuenta? Inicia Sesión
    </p>
  </ion-text>

</ion-content>
