<ion-header>
  <ion-toolbar color="primary">
    <ion-title aria-label="register-title">Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Correo Electronico</ion-label>
    <ion-input aria-label="register-email" [(ngModel)]="email" type="email" required></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input aria-label="register-password" [(ngModel)]="password" type="password" required></ion-input>
  </ion-item>


  <ion-button aria-label="register-submit" expand="block" color="success" (click)="register()">
    Registrame
  </ion-button>


  <ion-text aria-label="register-login-link" color="medium" class="ion-text-center">
    <p (click)="goToLogin()">¿Ya tienes una cuenta? Inicia Sesion</p>
  </ion-text>
</ion-content>
