<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToProfile()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-text color="dark">
    <h2>¡Bienvenido de nuevo!</h2>
  </ion-text>
  
  <ion-card (click)="goToNotes">
    <ion-card-header>
      <ion-card-title>Mis Notas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Accede rapidamente a tus apuntes y tareas pendientes.
    </ion-card-content>
  </ion-card>

    <ion-card>
    <ion-card-header>
      <ion-card-title>Calendario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Revisa tus proximos eventos o recordatorios.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      Novedades
    </ion-list-header>
    <ion-item>
      <ion-label>Se ha agregado la funcion de exportar PDF.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tus clases de hoy comienzan a las 8:00 AM.</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-buttom color="secondary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-buttom>
  </ion-fab>

</ion-content>
