<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido, {{ email }}</h2>

  <ion-card (click)="goToNotes()">
    <ion-card-header>
      <ion-card-title>Notas</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="goToProfile()">
    <ion-card-header>
      <ion-card-title>Perfil</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
